<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><ELEMENT>Caracterización De La Seguridad Y La Calidad De Los Catéteres Intravasculares Periféricos</ELEMENT></h1>
            <p class="lead">&nbsp;</p>
            <p class="lead">&nbsp;</p>
            <p class="lead"><h3>Aplicación para registro de pacientes y aleatorización</h3></p>
            <p class="lead">&nbsp;</p>
            <p class="lead">&nbsp;</p>
            <ul class="list-unstyled">
                <li><h3>Instituto De Alta Tecnología Medica</h3></li>
                <li><h3>Becton Dickinson and Company</h3></li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
